@import "../../assets/variables.module.scss";

.inputContainer {
  width: 250px;
  height: 30px;
  padding: 7px;
  background: white;
  border-radius: 6px;
  border: 1px solid rgb(206, 206, 206);
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.input {
  background: white;
  border: none;
  outline: none;
}
.input::placeholder {
  color: rgb(194, 194, 194);
  font-family: "Readex Pro";
}
.button {
  background: none;
  position: absolute;
  border: none;
  top: 15px;
  left: 5px;
}

.searchIcon {
  width: 15px;
  height: 17px;
}
.input:focus {
  .inputContainer {
    border: 1.5px solid $PALE_ORANGE;
  }
}

@media screen and (max-width: 880px) {
  .inputContainer {
    width: 215px;
  }
}

.inputHidden {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: $LIGHT_GRAY;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
  border: none;
}
.oleg {
  display: none;
}

@media screen and (max-width: 767px) {
  .inputContainer {
    display: none;
  }
  .inputHidden {
    display: block;
  }
  .oleg {
    display: block;
  }
}
