.inputBlock{
    position: relative;
}
.input{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

label span::before{
    content: '';

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid rgb(216, 216, 216);
  background: white;
  border-radius: 50%;
   width: 16px;
   height: 16px; 
}

label span::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 1;
        background: rgb(216, 122, 0);
        border-radius: 50%;
        width: 14px;
        height: 14px;
        opacity: 0;
}

.input:checked +.labelRadio span:after{
    opacity: 1;
}
